---
---

$code-border: rgba(0,0,0,0.00);
$code-background: rgba(0,0,0,0.04); //#eef;

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: #2a7ae2;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
  &:visited {
    color: #205caa;
  }
}

/* Utility */

.wrap {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-bottom: 2px solid #e8e8e8;
  min-height: 56px;
  background-color: white;

  height: 150px;
//  background: linear-gradient(rgb(71, 175, 142),rgb(63, 185, 146));
  background: linear-gradient(rgba(56, 123, 185, 0.9), rgb(56, 123, 185));
  > .wrap{
    top: 94px;
  }
}

.site-title {
  display: block;
  color: #333;
  font-size: 2em;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
  font-weight: 700;

  color: white;
  &:hover, &:visited {
    display: block;
    font-weight: 700;
    color: #333;

    color: rgba(white, 0.8);

    letter-spacing: -1px;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  .menu-icon {
    display: none;
  }
  .page-link {
    margin-left: 20px;
    color: #727272;
    letter-spacing: -0.5px;

    color: white;
  }
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.page-comments{
  border-top: 1px solid #efefef;
  margin-top: -30px;
  padding-bottom: 30px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.site-footer .column {
  float: left;
  margin-bottom: 15px;
}

.footer-col-1 {
  width: 270px;
  /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px;
}

.footer-col-2 {
  width: 175px;
  /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px;
}

.footer-col-3 {
  width: 335px;
  /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer {
  ul {
    list-style: none;
  }
  li, p {
    font-size: 15px;
    letter-spacing: -0.3px;
    color: #828282;
  }
}

.github-icon-svg, .twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
  margin-bottom: 25px;
}

.posts {
  list-style-type: none;
  li {
    margin-bottom: 30px;
    &.post-excerpt{
      padding-bottom: 25px;
      border-bottom: 1px solid rgb(236, 236, 236);
      margin-bottom: 25px;
    }
  }
  .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
  }
  .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
  }
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
  margin: 10px 0 30px;
  h1 {
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
  }
  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }
}

.post-content {
  margin: 0 0 30px;
  > * {
    margin: 20px 0;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
  }
  h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
  }
  h3 {
    font-size: 26px;
    letter-spacing: -1px;
  }
  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }
  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }
  ul, ol {
    padding-left: 20px;
  }
}

.post {
  pre {
    border: 1px solid $code-border;
    background-color: $code-background;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    word-break: break-word;
  }
  code {
    border: 1px solid $code-border;
    background-color: $code-background;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    padding: 1px 5px;
    word-break: break-word;
  }
  ul, ol {
    margin-left: 1.35em;
  }
  pre {
    code {
      border: none;
      background: none;
    }
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      code {
        background-color: #333;
      }
    }
  }
}

/* terminal */

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
.hll {
  background-color: #ffffcc
}
.c {
  color: #999988;
  font-style: italic
} /* Comment */
.err {
  color: #a61717;
  background-color: #e3d2d2
} /* Error */
.k {
  color: #000000;
  font-weight: bold
} /* Keyword */
.o {
  color: #000000;
  font-weight: bold
} /* Operator */
.cm {
  color: #999988;
  font-style: italic
} /* Comment.Multiline */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic
} /* Comment.Preproc */
.c1 {
  color: #999988;
  font-style: italic
} /* Comment.Single */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
} /* Comment.Special */
.gd {
  color: #000000;
  background-color: #ffdddd
} /* Generic.Deleted */
.ge {
  color: #000000;
  font-style: italic
} /* Generic.Emph */
.gr {
  color: #aa0000
} /* Generic.Error */
.gh {
  color: #999999
} /* Generic.Heading */
.gi {
  color: #000000;
  background-color: #ddffdd
} /* Generic.Inserted */
.go {
  color: #888888
} /* Generic.Output */
.gp {
  color: #555555
} /* Generic.Prompt */
.gs {
  font-weight: bold
} /* Generic.Strong */
.gu {
  color: #aaaaaa
} /* Generic.Subheading */
.gt {
  color: #aa0000
} /* Generic.Traceback */
.kc {
  color: #000000;
  font-weight: bold
} /* Keyword.Constant */
.kd {
  color: #000000;
  font-weight: bold
} /* Keyword.Declaration */
.kn {
  color: #000000;
  font-weight: bold
} /* Keyword.Namespace */
.kp {
  color: #000000;
  font-weight: bold
} /* Keyword.Pseudo */
.kr {
  color: #000000;
  font-weight: bold
} /* Keyword.Reserved */
.kt {
  color: #445588;
  font-weight: bold
} /* Keyword.Type */
.m {
  color: #009999
} /* Literal.Number */
.s {
  color: #d01040
} /* Literal.String */
.na {
  color: #008080
} /* Name.Attribute */
.nb {
  color: #0086B3
} /* Name.Builtin */
.nc {
  color: #445588;
  font-weight: bold
} /* Name.Class */
.no {
  color: #008080
} /* Name.Constant */
.nd {
  color: #3c5d5d;
  font-weight: bold
} /* Name.Decorator */
.ni {
  color: #800080
} /* Name.Entity */
.ne {
  color: #990000;
  font-weight: bold
} /* Name.Exception */
.nf {
  color: #990000;
  font-weight: bold
} /* Name.Function */
.nl {
  color: #990000;
  font-weight: bold
} /* Name.Label */
.nn {
  color: #555555
} /* Name.Namespace */
.nt {
  color: #000080
} /* Name.Tag */
.nv {
  color: #008080
} /* Name.Variable */
.ow {
  color: #000000;
  font-weight: bold
} /* Operator.Word */
.w {
  color: #bbbbbb
} /* Text.Whitespace */
.mf {
  color: #009999
} /* Literal.Number.Float */
.mh {
  color: #009999
} /* Literal.Number.Hex */
.mi {
  color: #009999
} /* Literal.Number.Integer */
.mo {
  color: #009999
} /* Literal.Number.Oct */
.sb {
  color: #d01040
} /* Literal.String.Backtick */
.sc {
  color: #d01040
} /* Literal.String.Char */
.sd {
  color: #d01040
} /* Literal.String.Doc */
.s2 {
  color: #d01040
} /* Literal.String.Double */
.se {
  color: #d01040
} /* Literal.String.Escape */
.sh {
  color: #d01040
} /* Literal.String.Heredoc */
.si {
  color: #d01040
} /* Literal.String.Interpol */
.sx {
  color: #d01040
} /* Literal.String.Other */
.sr {
  color: #009926
} /* Literal.String.Regex */
.s1 {
  color: #d01040
} /* Literal.String.Single */
.ss {
  color: #990073
} /* Literal.String.Symbol */
.bp {
  color: #999999
} /* Name.Builtin.Pseudo */
.vc {
  color: #008080
} /* Name.Variable.Class */
.vg {
  color: #008080
} /* Name.Variable.Global */
.vi {
  color: #008080
} /* Name.Variable.Instance */
.il {
  color: #009999
} /* Literal.Number.Integer.Long */

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .footer-col-1 {
    width: 50%;
  }
  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }
  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    padding: 0 12px;
  }
  .site-nav {
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;

    .menu-icon {
      display: block;
      font-size: 24px;
      color: #505050;
      float: right;
      width: 36px;
      text-align: center;
      line-height: 36px;
      svg {
        width: 18px;
        height: 16px;
      }
    }
    .trigger {
      clear: both;
      margin-bottom: 5px;
      display: none;
    }
    &:hover .trigger {
      display: block;
    }
    .page-link {
      display: block;
      text-align: right;
      line-height: 1.25;
      padding: 5px 10px;
      margin: 0;
      color: #727272;
    }
  }
  .post-header h1 {
    font-size: 36px;
  }
  .post-content {
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 18px;
    }
    blockquote, ul, ol {
      padding-left: 10px;
    }
  }
  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }
}


header .wrap{
  position:relative;
  .avatar{
    width: 70px;
    position: absolute;
    z-index: 0;
    left: 250px;
    top: -10px;
    background: url('/images/doodle-me.png');
    background-size: 100%;
    background-repeat: no-repeat;

    width: 140px;
    height: 133px;
    left: 227px;
    top: -77px;
  @media screen and (max-width: 600px) {
      display: none;
    }

    &.interactive{
      background: url('/images/doodle-eyeless.png');
      background-size: 100%;
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        background: url('/images/doodle-eyes.png');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        transition: top 400ms, left 400ms;
      }
    }

    &.tl  { &:after { top: -2px; left: -2px; }}
    &.tc  { &:after { top: -2px; left: 0; }}
    &.tr  { &:after { top: -2px; left: 2px; }}
    &.ml  { &:after { top: +0px; left: -2px; }}
    &.mc  { &:after { top: +0px; left: 0; }}
    &.mr  { &:after { top: +0px; left: 2px; }}
    &.bl  { &:after { top: +2px; left: -2px; }}
    &.bc  { &:after { top: +2px; left: 0; }}
    &.br  { &:after { top: +2px; left: 2px; }}
  }
}

.post-content{
  img{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
}

.home{
  .post-date{
    float: right;
    line-height: 30px;
    @media screen and (max-width: 750px) {
      float: none;
      font-size: 0.6em;
      line-height: normal;
    }

  }
}

.project{
  img{
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 100px;
    border: 1px solid #eee;
    background: #ccc;
  }
  h3{
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    p{
      font-size: 0.7em;
      margin-left: 150px;
    }
  }
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.big-avatar{
  border-radius: 100px;
}

h1.about-me{
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  margin: -30px 0 30px 0;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.clear-fix{
  clear: both;
}

.text-right{
  display: block;
  text-align: right;
}